# general
KIVY_VERSION_REQUIRE = '1.8.0'
KIVY_GRAPHICS_HEIGHT = 600
KIVY_GRAPHICS_WIDTH = 1024
KIVY_LOG_LEVEL = "info"

from kivy.utils import platform, get_color_from_hex
KIVY_FONTS = [
    {
        "name": "RobotoCondensed",
        "fn_regular":    "./assets/fonts/Roboto-Condensed.ttf",
        "fn_bold":       "./assets/fonts/Roboto-BoldCondensed.ttf",
        "fn_italic":     "./assets/fonts/Roboto-CondensedItalic.ttf",
        "fn_bolditalic": "./assets/fonts/Roboto-BoldCondensedItalic.ttf"
    },
    {
        "name": "ElectronicHighwaySign",
        "fn_regular": "./assets/fonts/EHSMB.ttf"
    },
    {
        "name": "FontAwesome",
        "fn_regular": "./assets/fonts/fontawesome-webfont.ttf"
    }
]
KIVY_DEFAULT_FONT = "RobotoCondensed"

# alsa device to be used for volume adjustment (RPi: u'PCM', VM: '')
ALSA_DEVICE = u'PCM'

# kickermanager server
SERVER_BASE_URL = "http://<ENTER YOUR KICKERMANAGER BASE DIRECTORY HERE>"
SERVER_USER_ID = <DEDICATED USER ID>
SERVER_USER_PIN = "<PIN>"

STORAGE_FILE = 'players.json'
STORAGE_PLAYERS = 'players'
STORAGE_RFIDMAP = 'rfidmap'

# TTS
# TTS_MODE: online: use online tts service, offline: use mbrola + espeak
TTS_MODE = 'online'
TTS_ONLINE_URL = u'http://<URL to online TTS service>/?key={key}&text={text}'
TTS_ONLINE_KEY = '<YOUR PERSONAL API KEY>'
